@import '../../marketplace.css';

.root {
  display: flex;
  flex-direction: column;
}

.addMore {
  @apply --marketplaceH4FontStyles;
  color: var(--marketplaceColorDark);
  &:hover {
    color: var(--marketplaceColorLight);
  }
  cursor: pointer;
}

.fieldWrapper {
  position: relative;
}

.removeButton {
  font-size: 14px;
  position: absolute;
  right: 5px;
  bottom: 5px;
}
