@import '../../marketplace.css';

.root {
  @apply --marketplaceModalFormRootStyles;

  justify-content: flex-start;

  @media (--viewportMedium) {
    justify-content: space-between;
  }
}

.generalField {
  margin-top: 24px;

  @media (--viewportMedium) {
    margin-top: 32px;
  }
}

.accountType {

}

.email {
  margin-top: 24px;

  @media (--viewportMedium) {
    margin-top: 32px;
  }
}

.name {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;

  @media (--viewportMedium) {
    margin-top: 32px;
  }
}

.firstNameRoot {
  width: calc(34% - 9px);
}

.lastNameRoot {
  width: calc(66% - 9px);
}

.password {
  @apply --marketplaceModalPasswordMargins;
}

.iReadTheTos {
  margin-top: 24px;

  @media (--viewportMedium) {
    margin-top: 32px;
  }
}

.referenceCheck {
  margin-top: 24px;

  @media (--viewportMedium) {
    margin-top: 32px;
  }
}

.referenceCheck span {
  font-size: 18px;
  line-height: 24px;
}

.ableToSupplyVerificationOfIC {
  margin-top: 24px;

  @media (--viewportMedium) {
    margin-top: 32px;
  }
}

.ableToSupplyVerificationOfIC span {
  font-size: 18px;
  line-height: 24px;
}

.seekingOrProviding {
  margin-top: 24px;

  @media (--viewportMedium) {
    margin-top: 32px;
  }
}

.phoneNumber {
  margin-top: 24px;

  @media (--viewportMedium) {
    margin-top: 32px;
  }
}

.bottomWrapper {
  @apply --marketplaceModalBottomWrapper;
}

.bottomWrapperText {
  @apply --marketplaceModalBottomWrapperText;
}

.termsText {
  @apply --marketplaceModalHelperText;
}

.termsLink {
  @apply --marketplaceModalHelperLink;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
